<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课程列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="course-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                课程号：<input type="text" name="cno"/>
                            </li>
                            <li>
                                课程名：<input type="text" name="cname"/>
                            </li>
                            <li>
                                院系：<select name="deptId" th:with="departments=${@departmentService.selectDepartmentList(null)}">
                                    <option value="">全部</option>
                                    <option th:each="d:${departments}" th:value="${d.deptId}" th:text="${d.deptName}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="admin:course:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="admin:course:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="admin:course:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('admin:course:edit')}]];
        var removeFlag = [[${@permission.hasPermi('admin:course:remove')}]];
        var prefix = ctx + "admin/course";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "课程",
                uniqueId: "cno",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'cno',
                    title: '课程号'
                },
                {
                    field: 'cname',
                    title: '课程名'
                },
                {
                    field: 'credit',
                    title: '学分'
                },
                {
                    field: 'hours',
                    title: '学时'
                },
                {
                    field: 'courseType',
                    title: '课程类型',
                    formatter: function(value) {
                        if (value == 0) return '必修';
                        if (value == 1) return '选修';
                        return value;
                    }
                },
                {
                    field: 'deptName',
                    title: '开课院系'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.cno + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.cno + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
