<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="include :: header('我的课程')" /></head>
<body class="gray-bg"><div class="container-div"><div class="row"><div class="col-sm-12 select-table table-striped"><table id="bootstrap-table"></table></div></div></div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
var tno = new URLSearchParams(window.location.search).get("tno") || "T2021001";
$(function() {
    var options = {
        url: ctx + "teacher/course/list",
        createUrl: undefined, updateUrl: undefined, removeUrl: undefined,
        modalName: "课程", uniqueId: "cno",
        queryParams: function(params) { return {pageSize: params.limit, pageNum: params.offset / params.limit + 1, tno: tno}; },
        columns: [{field:'cno',title:'课程号'},{field:'cname',title:'课程名'},{field:'semester',title:'学期'},{field:'classTime',title:'上课时间'},{title:'操作',formatter:function(v,r){return '<a class="btn btn-primary btn-xs" href="'+ctx+'teacher/course/students?tno='+tno+'&cno='+r.cno+'">录入成绩</a>';}}]
    };
    $.table.init(options);
});
</script></body></html>
